*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
main{
    height: 100%;
    width: 100% ;
    background-color: black ;
    display: grid ;
    grid-template-columns: 200px 1fr;
    grid-template-rows : 60px 1fr 80px;

    grid-template-areas: "header header"
                        "aside section"
                        "footer footer"
}

header{
    background-color: gold;
    grid-area: header;
}
aside{
    background-color: aqua;
    grid-area: aside;
}
section{
    background-color: magenta;
    grid-area: section;
}
footer{
    background-color: maroon;
    grid-area: footer;
}