*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
}
html , body{
    height: 100% ;
    width: 100% ;
    background-color: rgb(219, 175, 78);
}
main{
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 28vh ;
    width: 32vw ;
    background-color: rgb(138, 102, 23);
    border-radius: 12px;
    border: 4px solid rgb(41, 102, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(41, 102, 41);
    font-weight: 600;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}