@font-face{
    font-family: "cute";
    src : url(../Sweet\ Pineapple.ttf) ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1534447677768-be436bb09401?q=80&w=2094&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size :cover ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.heading1{
    color: rgb(207, 222, 230);
    font-family: "cute";
    font-size: 100px;
    padding-top : 5%
}
.visitButton{
    font-size : 20px ;
    width: 110px;
    height: 60px;
    margin-top: 150px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.3) ;
    font-weight: 900;
    font-family: "cute";
    cursor : pointer;
}
.visitButton:hover{
    background: rgb(111, 26, 195) ;
    border-color: rgb(36, 1, 68);; 
    transform: scale(1.05); 
}

.visitButton span{
    display: inline-block ;
    transition: transform 0.3s ease ;
}

.visitButton:hover span{
    color : rgba(2, 1, 7, 0.628) ;
    transform: scale(9);
}
