*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
}
html , body{
    height: 100% ;
    width: 100% ;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    color : #fff ; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 20px;
    padding: 20px ;
    grid-template-areas: "header header header"
                        "section section section"
                        "div1 div2 div3"
}
header{
    grid-area: header;
    background-color: rgb(93, 17, 17);
}
section{
    grid-area: section;
    background-color: rgb(186, 34, 34);
}
.foot1{
    grid-area: div1 ;
    background-color: rgb(0, 86, 144);
}
.foot2{
    grid-area: div2 ;
    background-color: rgb(0, 86, 144);
}
.foot3{
    grid-area: div3 ;
    background-color: rgb(0, 86, 144);
}