*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif';
}
html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

h1{
    color: #fff;
}

button{
    padding: 12px 14px;
    border-radius : 32px ; 
    width: 120px;
    height: 50px;
    border-color: #fff ; 
    background-color: black;
    color: #fff;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: xx-large;
    margin-bottom: 80px;
}
.btns{
    display: flex;
    gap : 40px ;
}

#inc:hover{
    background-color: green;
}

#decr:hover{
    background-color: red;
}