*{
    margin : 0 ; 
    padding: 0 ; 
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.box{
    height: 400px;
    width: 400px;
    background : radial-gradient(yellow ,orange , red);
}
.box2{
    height: 400px;
    width : 400px;
    background-color: crimson;
    margin-top : 50px ; 
    margin-left : 50px ; 
    margin-bottom: 30px;
}
#name{
    text-align: center;
    color : white ;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic ;
    padding-top: 50px;
}