*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
}
html , body{
    height: 100% ;
    width: 100% ;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff; 
    display: grid;
    padding: 12px;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 70px 1fr 0.5fr 0.5fr;

    grid-template-areas: "header header header"
                        "section section section"
                        "div-left bottom-up div-right"
                        "div-left bottom-down div-right"
}
header{
    background-color: rgb(159, 13, 13);
    grid-area: header;
}
section{
    background-color: rgb(6, 88, 143);
    grid-area: section;
}
.left{
    background-color: rgb(96, 15, 15);
    grid-area: div-left;
}
.bu{
    background-color: rgb(220, 162, 26);
    grid-area: bottom-up;
}
.bd{
    background-color: rgb(223, 126, 8);
    grid-area: bottom-down;
}
.right{
    background-color: rgb(0, 191, 255);
    grid-area: div-right;
}