*{
    margin : 0% ; 
    padding: 0% ; 
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    background-color: rgb(14, 104, 140);
    width: 100%;
    padding: 20px;
}
#card1{
    height: 420px ;
    width: 400px ;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#card1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#bottom {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    height: 40%;
    width: 100%;
    background: linear-gradient(
        191deg,
        transparent 10%,
        rgba(11, 12, 36, 1) 40%,
        rgba(77, 3, 168, 1) 60%,
        rgba(175, 12, 245, 1) 80%,
        rgba(0, 0, 0, 1) 100%
    );
    position: absolute;
    bottom: -40%;
    transition: all ease 0.5s;
}

#card1:hover #bottom{
    bottom: 0;
}
#bottom h1{
    color : white ; 
}
#bottom h2{
    background-color: white;
    padding: 5px 8px;
    border-radius: 50%;
}