@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kedebideri:wght@400;500;600;700;800;900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');
*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%; 
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.btn{
    position: absolute;
    z-index: 9;
    width: 16vw;
    height: 10vh;
    border-radius: 32px;
    font-size: 20px;
    transition: 0.3s ease;
    font-family: 'Montserrat', sans-serif ;
    background-color: rgb(255, 111, 8);
    border: rgb(44, 44, 12) solid ; 
    color: rgb(0, 0, 0);
}
.btn:hover{
    transform: scale(1.1);
}