*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html , body{
    /* height: 100% ; */
    width: 100% ;
    min-height: 100%;
}

header{
    width: 100%;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-A{
    width: 100%;
    height: 220px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.sec-top{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

.sec-bott{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.section-B{
    width: 100% ;
    height: 500px;
}
.image{
    background-image: url("https://cdn.prod.website-files.com/673ce2d41331913bdbf6b90d/67cf64c35578866ec3bd3813_About%20Us%201.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.secondPage{
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 500px 200px 1fr 1fr;
    grid-template-areas: "Aboutus Aboutus Aboutus Aboutus"
                        "Expertise Expertise Expertise Expertise"
                        "upperCards1 upperCards2 upperCards3 upperCards4"
                        "lowerCards1 lowerCards2 lowerCards3 lowerCards4"
}
.Aboutus{
    background-color: aqua;
    grid-area: Aboutus ;
}
.Expertise{
    background-color: aquamarine;
    grid-area: Expertise;
}


.upperCards1{
    background-color: bisque;
    grid-area: upperCards1 ;
}
.upperCard2{
    background-color: rgb(123, 90, 49);
    grid-area: upperCards2;
}
.upperCards3{
    background-color: rgb(85, 48, 3);
    grid-area: upperCards3;
}
.upperCards4{
    background-color: rgb(255, 214, 164);
    grid-area: upperCards4;
}



.lowerCards1{
    background-color: rgb(4, 78, 81);
    grid-area: lowerCards1;
}
.lowerCards2{
    background-color: rgb(1, 247, 255);
    grid-area: lowerCards2;
}
.lowerCards3{
    background-color: rgb(75, 107, 108);
    grid-area: lowerCards3;
}
.lowerCards4{
    background-color: rgb(95, 160, 98);
    grid-area: lowerCards4;
}



.thirdPage{
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 900px 1fr ;
    grid-template-rows: 500px 400px 500px 500px ;

    grid-template-areas: "MileStone MileStone"
                        "logoIpsum Image"
                        "Connect Image2"
                        "FooterLast FooterLast"
}
.MileStone{
    background-color: crimson;
    grid-area: MileStone;
}
.logoIpsum{
    background-color: mediumslateblue;
    grid-area: logoIpsum ;
}
.Image{
    background-color: salmon;
    grid-area: Image;
}
.Connect{
    background-color: darkkhaki;
    grid-area: Connect;
}
.Image2{
    background-color: slateblue;
    grid-area: Image2;
}
.FooterLast{
    background-color: brown;
    grid-area: FooterLast ;
}