@font-face {
    font-family: "cute" ;
    src: url(../Sweet\ Pineapple.ttf);
}
*{
    margin : 0px ; 
    padding: 0px ; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1575301926333-df57978bafb7?q=80&w=1574&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-color: black;
    color: black;
}

#navbar a{
    color: black;
    text-decoration: none;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 70px;
    position: relative;
}
.navbarLeft, .navbarRight {
    display: flex;
    gap: 20px;             /* equal space between links */
}


#main>h1{
    text-align: center;
    font-family: "cute";
    font-size: 340px;
}



#main>img{
    height: 290px;
    position: absolute;
}

#img1{
    top: 26%;
    left: 78%;
    z-index: 29;
}

#img2{
    top: 55%;
    left: 89%;
    z-index: 19;
}
#img3{
    height: 2px;
    height: 120px;
    top: 60%;
    left: 55%;
    z-index: 19;
    /* border-radius: 12%; */
    /* border: 5px solid rgba(0, 0, 0, 0.5); */
    /* opacity: 0.9; */
}  


#bottomLeft{
    width: 200px;
    position: absolute;
    bottom: 25%;
    left: 2%;
}

#bottomLeft h3{
    font-size: 25px;
}

#bottomLeft p{
    margin-top: 12px;
    font-size: 18px;
}

#bottomLeft #mat{
    margin-top: 50px;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 20px 70px;
    bottom: 0;
    left : 0 ;  
    width: 100%;
}
#bottombar a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
