*{
    margin : 0px ; 
    padding: 0px ;
    box-sizing: border-box;
}
html , body{
    width: 100% ;
    min-height: 100%;
    background-color: black;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;  
    gap: 20px
}
.card{
    width: 260px;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}
.card img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    padding: 5px;
    background: #f0f0f0;
    margin-bottom: 2vh;
}
.card h2{
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    color: #222;
    white-space: nowrap;
}
.card h3{
    font-size: 18px;
    margin-top: 1vh;
    color: #2b7a0b; /* soft green */
    font-weight: 600;
    letter-spacing: 0.5px;
}
.card p{
    margin-top: 2vh;
    font-size: 17px;
    line-height: 1.5;
    color: #444;
    padding: 0 10px;
}
